
  .form-control:active {
    border-color: #1f89fa;
    box-shadow: 0px 0px 6px #8ec2f9;
  }
  
  .col-lg-6{
    margin: auto;
  }

  #checkbox-label{
    color: #000;
    margin-left: 10px;
  }
  .form-control{
    height: 50px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      outline: none;
      margin-bottom: 30px;
  }
 